@import 'tailwindcss';
@import 'tw-animate-css';

@config "../../tailwind.config.ts";

/* Font declarations for Vazir */
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir/woff2/Vazir-Thin-FD.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/fonts/Vazir/woff2/Vazir-Light-FD.woff2') format('woff2'),
    url('/fonts/Vazir/woff/Vazir-Light-FD.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/fonts/Vazir/woff2/Vazir-Regular-FD.woff2') format('woff2'),
    url('/fonts/Vazir/woff/Vazir-Regular-FD.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/fonts/Vazir/woff2/Vazir-Medium-FD.woff2') format('woff2'),
    url('/fonts/Vazir/woff/Vazir-Medium-FD.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/fonts/Vazir/woff2/Vazir-Bold-FD.woff2') format('woff2'),
    url('/fonts/Vazir/woff/Vazir-Bold-FD.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazir';
  src:
    url('/fonts/Vazir/woff2/Vazir-Black-FD.woff2') format('woff2'),
    url('/fonts/Vazir/woff/Vazir-Black-FD.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --primary: #0095da;
  --primary-1: #e6f7ff;
  --primary-2: #bae9ff;
  --primary-3: #7ad5ff;
  --primary-4: #34bfff;
  --primary-5: #15b5ff;
  --primary-6: #0196db;
  --primary-7: #007bb4;
  --primary-8: #006b9d;
  --primary-9: #024361;
  --primary-10: #01354d;
  --primary-11: #1a9ee5;
  --primary-12: #1690d2;
  --primary-16: rgba(0, 149, 218, 0.16);
  --black: #202020;
  --black-main: #232323;
  --gray-1: #f8f9fb;
  --gray-2: #e8e8eb;
  --gray-3: #d8d8da;
  --gray-4: #c3c3c5;
  --gray-5: #a8a8aa;
  --gray-6: #89898b;
  --gray-7: #68686a;
  --gray-8: #4a4a4b;
  --gray-9: #323232;
  --orange: #d66f00;
  --orange-1: #fcf6f8;
  --orange-2: #fbdbdd;
  --orange-3: #f9af64;
  --orange-4: #f99c9e;
  --orange-5: #f86f70;
  --orange-6: #0196db;
  --orange-7: #007bb4;
  --orange-8: #006b9d;
  --orange-9: #024361;
  --orange-10: #fff3e7;
  --orange-16: rgba(214, 111, 0, 0.16);
  --red: #f73b3b;
  --red-1: #f73b3b;
  --red-2: #fbdbdd;
  --red-3: #fac0c2;
  --red-4: #f99c9e;
  --red-5: #f86f70;
  --red-6: #d93434;
  --red-7: #bf2e2e;
  --red-8: #fb0000;
  --red-9: #7c1e1e;
  --red-10: #631313;
  --red-16: rgba(247, 59, 59, 0.16);
  --green: #17b530;
  --green-1: #f1f9f4;
  --green-2: #d5f0db;
  --green-3: #b5e6be;
  --green-4: #8bd998;
  --green-5: #55c868;
  --green-6: #149f2a;
  --green-7: #128c25;
  --green-8: #0f741f;
  --green-9: #0c5a18;
  --green-10: #0b4915;
  --green-16: rgba(23, 181, 48, 0.16);
  --yellow: #ffbe18;
  --yellow-1: #fdf9f3;
  --yellow-2: #fdf2d7;
  --yellow-3: #fde9b7;
  --yellow-4: #fede8c;
  --yellow-5: #fecf56;
  --yellow-6: #e0a715;
  --yellow-7: #c59312;
  --yellow-8: #a47a0f;
  --yellow-9: #805f0c;
  --yellow-10: #624808;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --primary: #0095da;
  --primary-1: #e6f7ff;
  --primary-2: #bae9ff;
  --primary-3: #7ad5ff;
  --primary-4: #34bfff;
  --primary-5: #15b5ff;
  --primary-6: #0196db;
  --primary-7: #007bb4;
  --primary-8: #006b9d;
  --primary-9: #024361;
  --primary-10: #01354d;
  --primary-11: #1a9ee5;
  --primary-12: #1690d2;
  --primary-16: rgba(0, 149, 218, 0.16);
  --black: #202020;
  --black-main: #232323;
  --gray-1: #f8f9fb;
  --gray-2: #e8e8eb;
  --gray-3: #d8d8da;
  --gray-4: #c3c3c5;
  --gray-5: #a8a8aa;
  --gray-6: #89898b;
  --gray-7: #68686a;
  --gray-8: #4a4a4b;
  --gray-9: #323232;
  --orange: #d66f00;
  --orange-1: #fcf6f8;
  --orange-2: #fbdbdd;
  --orange-3: #f9af64;
  --orange-4: #f99c9e;
  --orange-5: #f86f70;
  --orange-6: #0196db;
  --orange-7: #007bb4;
  --orange-8: #006b9d;
  --orange-9: #024361;
  --orange-10: #fff3e7;
  --orange-16: rgba(214, 111, 0, 0.16);
  --red: #f73b3b;
  --red-1: #f73b3b;
  --red-2: #fbdbdd;
  --red-3: #fac0c2;
  --red-4: #f99c9e;
  --red-5: #f86f70;
  --red-6: #d93434;
  --red-7: #bf2e2e;
  --red-8: #fb0000;
  --red-9: #7c1e1e;
  --red-10: #631313;
  --red-16: rgba(247, 59, 59, 0.16);
  --green: #17b530;
  --green-1: #f1f9f4;
  --green-2: #d5f0db;
  --green-3: #b5e6be;
  --green-4: #8bd998;
  --green-5: #55c868;
  --green-6: #149f2a;
  --green-7: #128c25;
  --green-8: #0f741f;
  --green-9: #0c5a18;
  --green-10: #0b4915;
  --green-16: rgba(23, 181, 48, 0.16);
  --yellow: #ffbe18;
  --yellow-1: #fdf9f3;
  --yellow-2: #fdf2d7;
  --yellow-3: #fde9b7;
  --yellow-4: #fede8c;
  --yellow-5: #fecf56;
  --yellow-6: #e0a715;
  --yellow-7: #c59312;
  --yellow-8: #a47a0f;
  --yellow-9: #805f0c;
  --yellow-10: #624808;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Apply font to all elements */
html,
body {
  font-family: 'Vazir', sans-serif;
  color: var(--black);
  font-size: 16px;
}
